.container{
   background-image: linear-gradient(#1d976c,  #93f9b9);
  padding: 10px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100vh;

}
.heading{
  color:#ffffff;
  padding:10px;
  font-size:38px;
  font-family:"roboto";
  font-weight:800;
}
.para{
  color:#ffffff;
  padding:10px;
  font-size:18px;
  font-family:"roboto";
  font-weight:100;
}
.items-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin:10px;
}
.input-element{
  background-color: transparent;
  height: 40px;
  width: 350px;
  border-color: #e4e7eb;
  border-width: 1px;
  border-radius: 10px;
  margin: 10px;
}
.container-2{
height: 38px;
width: 160px;
margin: 10px;
border-radius:10px ;
background-color: #ffffff;
display: flex;
justify-content: flex-start;
padding: 10px;

}
.para-2{
  color: #219a6f;
  font-size:18px;
  font-family:"roboto";
  font-weight:800;
  margin: 5px;

}